@import "partial/layout";
@import "tags/field";

main {
  width: 100vw;
  height: 100vh;
  padding: 25px;
  overflow: auto;
  background: #cdf4e3;
}

$checkIcon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png';
$errorIcon: 'https://upload.wikimedia.org/wikipedia/en/thumb/6/61/Cross_icon_%28white%29.svg/768px-Cross_icon_%28white%29.svg.png';

form {
  width: calc(100vw - 40px);
  max-width: 350px;
  margin: 10vh auto 100px;

  .error-message {
    background-color: #900;
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    color: #fff;
  }

  fieldset {
    background: #fff;
    border-radius: 3px;
    appearance: none;
    border: none;
    overflow: hidden;
    margin: 0 0 25px;
    padding: 25px 10px;
    width: 100%;

    legend {
      background: #111;
      padding: 6px 10px;
      color: #fff;
      border-radius: 3px;
      font-size: 0.8rem;
      letter-spacing: 0.03rem;
    }
  }

  .field {
    margin: 0 10px 15px;

    .valid-indicator {
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      right: 0;
      top: 30px;
      transform: translateX(50%);
      background: #ddd url('#{$checkIcon}') center center/10px no-repeat;

      &.error-field {
        background: #900 url('#{$errorIcon}') center center/10px no-repeat;
      }
    }

    input:valid + .valid-indicator {
      background: #38a327 url('#{$checkIcon}') center center/10px no-repeat;
    }
  }

  button {
    height: 40px;
    border: none;
    appearance: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding: 0 25px;
    cursor: pointer;

    &.submit {
      background: #19657c;
    }
  }

  footer {
    position: relative;
    z-index: 1;

    .next,
    .submit {
      float: right;
    }

    .prev {
      float: left;
    }

    &::after {
      clear: both;
      display: block;
      content: '';
    }
  }

  &:invalid {
    .submit {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateY(50px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}








