.form-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 2rem;
    margin: 0;
    color: #222;
    font-weight: 200;
    font-style: italic;
    opacity: 0.6;
  }

  a {
    font-style: italic;
    color: #222;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
